{% extends 'base.html.twig' %}

{% block body %}
    {% set ruta = app.request.get('_route') %}
    {% block navbar %}
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#">
                    <i class="fa fa-eercast"></i>
                    MIND
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <i class="fa fa-home"></i>
                                Inicio
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="#" class="btn btn-primary">Entrar</a>
                        <a href="#" class="btn btn-info">Registrarse</a>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}
    <div style="margin-top: 70.5px;"></div>
    <div class="title-box bg-primary">
        <div class="container pull-right">
            <a href="#" class="btn btn-primary">Guardados</a>
            <a href="#" class="btn btn-primary">Archivados</a>
            <a href="#" class="btn btn-primary">Favoritos</a>
        </div>
    </div>
    <div class="container">
        {% if app.session.flashBag.has('estado') %}
            {% set mensajes = app.session.flashBag.get('estado') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            {% set mensajes = app.session.flashBag.get('error') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </div>
{% endblock %}