@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

/* CENTAR LOGO */
body, html{
    font-family: Roboto, sans-serif;
}

a.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    padding: 0;
    font: normal 50px/60px 'Nanum Pen Script', sans-serif;
    color: #FFFFFF;
    margin-top: 4px;
}

.bg-dark{
    background-color: #1FC8E3 !important;
}

/* CONTENT */
    /* TITLE */
.title-box{
    width: 100%;
    height: 36px;
    padding: 0;
}

.title-box .container{
    width: 100%;
}

.title-box .container a{
    border-radius: 0;
}

.btn-objeto{
    background-color: #00C853;
    border: 1px solid #00C853;
}

.btn-objeto:hover{
    background-color: #00A653;
    border: 1px solid #00A653;
}

/*TABLE SCROLL*/
.points_table table {
    padding: 0;
}

.points_table thead {
    width: 100%;
}

.points_table tbody {
    height: 380px;
    overflow-y: auto;
    width: 100%;
}

.points_table thead tr{
    width: 99%;
}

.points_table tr{
    width: 100%;
}

.points_table thead, .points_table tbody, .points_table tr, .points_table td, .points_table th{
    display: inline-block;
}

.points_table thead{
    background: #2196F3;
    background: linear-gradient(to right, #2196F3 , #1DE9D8);
    color: #fff;
}

.points_table tbody td, .points_table thead > tr> th{
    float: left;
    border-bottom-width: 0;
}

.points_table>tbody>tr>td, .points_table>tbody>tr>th, .points_table>tfoot>tr>td, .points_table>tfoot>tr>th, .points_table>thead>tr>td, .points_table>thead>tr>th{
    padding: 8px;
    height: 50px;
    text-align: left;
    font-size: 14px;
    line-height: 32px;
}

.odd {
    background: #ffffff;
    color: #000;
}

.even {
    background: #efefef;
    color: #000;
}

.points_table_scrollbar{
    height: 612px;
    overflow-y: scroll;
}

.points_table_scrollbar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #444444;
}

.points_table_scrollbar::-webkit-scrollbar{
    width: 1%;
    min-width: 5px;
    background-color: #F5F5F5;
}

.points_table_scrollbar::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #2196F3;
    background: linear-gradient(to right, #2196F3 , #1DE9B6);
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}

.created-at{
    font-size: smaller;
}

.card-title{
    margin-top: 1rem;
    padding-left: 1rem;
}

.btn.btn-sm.btn-subtle.text-success:hover{
    background-color: #28a745;
    color: #eeeeee !important;
}

.btn.btn-sm.btn-subtle.text-success:focus{
    background-color: #068523;
    color: #ffffff !important;
}

a.btn.btn-sm.btn-danger{
    color: #ffffff;
}

a.btn.btn-sm.btn-danger:hover{
    background-color: #ba1323;
}

.delModal{
    background-color: #ba1323;
    color: #ffffff;
}

/*STARS*/
.star {
    color: #ccc;
    text-align: center;
    display: block;
    font-size: 20px;
}
.star.star-checked {
    color: #0076f0;
}
.star:hover {
    color: #999;
}
.star.star-checked:hover {
    color: #0050f0;
}
.btn-star, #todos-star{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* CHECKBOXES */
.ckbox, .ckbox-all {
    position: relative;

}
.ckbox input[type="checkbox"], .ckbox-all input[type="checkbox"] {
    opacity: 0;
}
.ckbox label, .ckbox-all label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.ckbox label:before, .ckbox-all label:before {
     content: '';
     top: 7px;
     left: 0;
     width: 18px;
     height: 18px;
     display: block;
     position: absolute;
     border-radius: 2px;
     border: 1px solid #bbb;
     background-color: #fff;
 }

.ckbox-all label:before {
    top: 25px;
}

.ckbox input[type="checkbox"]:checked + label:before, .ckbox-all input[type="checkbox"]:checked + label:before {
    border-color: #2BBCDE;
    background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after, .ckbox-all input[type="checkbox"]:checked + label:after {
    top: 4px;
    left: 1px;
    content: '\f00c';
    color: #fff;
    font-size: 16px;
    font-family: 'FontAwesome';
    position: absolute;
}

.ckbox-all input[type="checkbox"]:checked + label:after {
    top: 21px;
}

tbody tr.selected td {
    background-color: #B3E5FC;
}











/* CARD USUARIO PAGINA INICIO */
/* Profile container */
.profile {
    margin: 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding-top: 0;
    background-color: #16202f;

}

.profile-userpic {
    float: none;
    margin: 0 auto;
    height: 300px;
}

.profile-userpic img {
    float: none;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position:relative;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #2196F3;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 7px 14px;
    cursor: pointer;
    border-radius: 0;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0;
}

.profile-usermenu {
    margin-top: 0;
}

.profile-usermenu ul {
    background-color: rgba(255,255,255, 0.1);
}

.profile-usermenu ul li {
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    width: 100%;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #2196F3;
}

.profile-usermenu ul li.active {
    border-bottom: none;
    border-radius: 3px 3px 0 0;
}

.profile-usermenu ul li.active a {
    color: #2196F3;
    background-color: #f6f9fb;
    border-left: 4px solid #2196F3;
    margin-left: 0;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

.profile-userpic>.pieFotoPerfil {
    position: relative;
    bottom: 60px;
    color:#fff;
    background-color:#000;
    padding:2px 10px;
    opacity:0.5;
    font-weight:bold;
}

span.profile-usertitle-name, span.profile-usertitle-job{
    display: block;
    margin-bottom: 7px;
}


/* FOOTER */
footer{
    height: 117px;
    background-color: #1b4f72;
}