{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/seguridad.css') }}">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>MIND</h1>
            </div>

            <div class="login-form">
                <div class="control-group">
                    <input type="email" class="login-field" id="username" name="_username" placeholder="Correo electronico" value="{{ last_username }}" />
                </div>
                <div class="control-group">
                    <input type="password" id="password" name="_password" class="login-field" value="" placeholder="Contraseña"/>
                </div>

                <button class="btn btn-primary btn-large btn-block">
                    <i class="fa fa-sign-in"></i>
                    Entrar
                </button>
                <a class="login-link" href="#">¿Has perdido tu contraseña?</a>
            </div>
        </div>
    </div>
{% endblock %}